.container {
  margin: 30px;
}

.title {
  text-align: center;
  padding: 20px 0;
}

.py-10 {
  padding: 10px 0;
}

.options-div {
  text-align: center;
}

.options-btn {
  padding: 15px 15px;
  margin: 10px 5px;
  width: 46%;
  border: none;
  background-color: #4287f5;
  color: #fff;
}

.options-btn:hover,
.start-btn:hover {
  cursor: pointer;
  background-color: #2e6ac9;
}

.start-div {
  margin-top: 100px;
  text-align: center;
}

.start-btn {
  padding: 20px 60px;
  border: none;
  background-color: #4287f5;
  color: #fff;
}
